@model IEnumerable<RMC.TCC.Clinica.Models.Consulta>


<table class="table">
    <tr>
        <th>
            Nome Paciente
        </th>
        <th>
            Nome Prof.Saude
        </th>
        <th>
            Data da Consulta
        </th>
        <th>
            Hora da Consulta
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfSaude.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaConsulta)
        </td>          
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idConsulta }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.idConsulta }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.idConsulta })
        </td>
    </tr>
}

</table>
