@model RMC.TCC.Clinica.Models.Prontuario

<div class="row">
    <h3>Prontuario</h3>
    <hr />
    <h4>@Model.Paciente.nome | @Model.Paciente.cpf</h4>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Procedimentos</label>
            <textarea readonly class="form-control">@Model.procedimentos</textarea>
        </div>
        <div class="form-group">
            <label class="control-label">Prescrições</label>
            <textarea readonly class="form-control">@Model.prescricoes</textarea>
        </div>
        <div class="form-group">
            <label class="control-label">Histórico</label>
            <textarea readonly class="form-control">@Model.historico</textarea>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Exames</div>
            <div class="panel-body">
                <table class="table table-responsive">
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                    </tr>
                    @foreach (RMC.TCC.Clinica.Models.Exame exame in Model.Exame)
                    {
                        <tr>
                            <td>exame.idExame</td>
                            <td>exame.nome/td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idProntuario }) |
    @Html.ActionLink("Voltar para buscar", "Buscar")
</p>
