@model RMC.TCC.Clinica.Models.Prontuario
@{
    ViewBag.Title = "Cadastrar Exames Prontuario";
}

<h2>Cadastrar Exame Prontuario</h2>

<h3>@Model.Paciente.nome - @Model.Paciente.cpf</h3>
<hr />
@using (Html.BeginForm("CadastrarExameProntuario", "Prontuarios", FormMethod.Post))
{
   
    @Html.HiddenFor(model => model.paciente_IdPaciente)

    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.Exame, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idExame", (SelectList)ViewBag.Exames, "Selecione.. ", new { @class = "form-control", @required = "true" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


