@model RMC.TCC.Clinica.Models.Prontuario

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Você tem certeza que quer deletar ?</h3>
<div>
    <h4>Prontuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paciente.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.procedimentos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.procedimentos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prescricoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prescricoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.historico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.historico)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" onclick="confirm('Deletar prontuário do paciente @Model.Paciente.nome ?')" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar para Listagem", "Index")
        </div>
    }
</div>
