@model IEnumerable<RMC.TCC.Clinica.Models.Funcionario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar Novo Funcionario", "Create")
</p>

@using (Html.BeginForm(actionName: "Index", controllerName: "Funcionarios", method: FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
{
    <p>
        <div class="form-group">
            <label>Pesquisar por CPF:</label>
            @Html.TextBox("searchString", null, htmlAttributes: new
       {
           @class = "form-control",
        @*@required = "true",*@
           @placeholder = "CPF..",
           @type = "number",
           @min = "1000000",
           @max = "99999999999",
           @step = "1"
       })

            <input type="submit" class="btn btn-primary" value="Procurar" />
        </div>

    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtNascimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtNascimento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idFuncionario }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.idFuncionario }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.idFuncionario })
        </td>
    </tr>
}

</table>
