@model RMC.TCC.Clinica.Models.ProfSaude

@{
    ViewBag.Title = "Detalhes Prof.Saude";
}

<h2>Detalhes Prof. Saude</h2>

<div>
    <h4>Prof.Saude</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.dtNascimento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idProfSaude }) |
    @Html.ActionLink("Voltar para listagem", "Index")
</p>
