@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    var role = this.Roles.GetRolesForUser(User.Identity.GetUserName()).Single();
    switch (role)
    {
        case "Admin":
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Info
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                        <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Criar Perfil", "Index", "Role")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Consulta
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li><a href="/Consultas/Index">Index</a></li>
                        <li><a href="/Consultas/Create">Cadastrar</a></li>
                        <li class="dropdown-submenu">
                            <a>Buscar</a>
                            <ul class="dropdown-menu">
                                <li><a href="/Consultas/BuscarPorPaciente">Buscar Por Paciente</a></li>
                                <li><a href="/Consultas/BuscarPorMedico">Buscar Por Médico</a></li>
                                <li><a href="/Consultas/BuscarPorDia">Buscar Por Dia</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Prontuário
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li><a href="/Prontuarios/Cadastrar">Cadastrar</a></li>
                        <li><a href="/Prontuarios/Buscar">Buscar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Pacientes
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li><a href="/Pacientes/Index">Index</a></li>
                        <li><a href="/Pacientes/Create">Cadastrar</a></li>
                        <li><a href="/Pacientes/Buscar">Buscar</a></li>
                    </ul>
                </li>
            </ul>
            break;

        case "Funcionario":
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Info
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                        <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Consulta
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li><a href="/Consultas/Index">Index</a></li>
                        <li><a href="/Consultas/Create">Cadastrar</a></li>
                        <li class="dropdown-submenu">
                            <a>Buscar</a>
                            <ul class="dropdown-menu">
                                <li><a href="/Consultas/BuscarPorPaciente">Buscar Por Paciente</a></li>
                                <li><a href="/Consultas/BuscarPorMedico">Buscar Por Médico</a></li>
                                <li><a href="/Consultas/BuscarPorDia">Buscar Por Dia</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Prontuário
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li><a href="/Prontuarios/Cadastrar">Cadastrar</a></li>
                    </ul>
                </li>
            </ul>

            break;

        case "Manager":
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Info
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                        <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Prof.Saude
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li><a href="/ProfSaudes/Index">Index</a></li>
                        <li><a href="/ProfSaudes/Create">Criar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Funcionarios
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li><a href="/Funcionarios/Index">Index</a></li>
                        <li><a href="/Funcionarios/Create">Cadastrar</a></li>
                    </ul>
                </li>
            </ul>
            break;

        case "Prof.Saude":
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Info
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                        <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Prontuário
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li><a href="/Prontuarios/Cadastrar">Cadastrar</a></li>
                        <li><a href="/Prontuarios/Buscar">Buscar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Pacientes
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li><a href="/Pacientes/Index">Index</a></li>
                        <li><a href="/Pacientes/Buscar">Buscar</a></li>
                    </ul>
                </li>
            </ul>
            break;

        default:
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Info
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                        <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    </ul>
                </li>
            </ul>
            break;

    }
}
else
{
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" id="consultaDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Info
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="consultaDropDown">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
            </ul>
        </li>
    </ul>
}

