@model RMC.TCC.Clinica.Models.Convenio

@{
    ViewBag.Title = "Cadastrar Convenio";
}

<h2>Cadastrar Convenio</h2>

@using (Html.BeginForm("Create","Convenios")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cadastro de Convênio</h4>
        <h3>@ViewBag.Paciente.nome | @ViewBag.Paciente.cpf</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.numConvenio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numConvenio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numConvenio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nomeConvenio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nomeConvenio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomeConvenio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label">Id Paciente</label>
                <input type="text" class="form-control" value="@ViewBag.Paciente.idPaciente" readonly name="paciente_IdPaciente" id="paciente_IdPaciente" />
            </div>
        </div>
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>