@model RMC.TCC.Clinica.Models.Convenio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Convenio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numConvenio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numConvenio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomeConvenio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeConvenio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idConvenio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
