@model RMC.TCC.Clinica.Models.Convenio

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Convênio do Paciente</h2>
<hr />
<div>
    <h4>Convenio</h4>
    <h4>@Model.Paciente.nome | @Model.Paciente.cpf</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numConvenio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numConvenio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomeConvenio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeConvenio)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.paciente_IdPaciente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
