@model IEnumerable<RMC.TCC.Clinica.Models.Convenio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numConvenio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeConvenio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numConvenio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeConvenio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.paciente_IdPaciente }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.paciente_IdPaciente }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.paciente_IdPaciente })
        </td>
    </tr>
}

</table>
